body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4fr 1fr;
    background-color: #f8e2c9;
    margin: 0; 
    font-family: 'Ubuntu', sans-serif;
    color: #2f4967;
    height: 100vh;
 
}
aside{
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 50px;
    background-color: #F9F3EC;
    height: 100%;
}
.note_list{
    display: grid;
    grid-template-rows: 20px;
    grid-auto-rows: 20px;
    padding: 20px;
}
.note{
text-align: left;
}
h1{
    text-align: center;
}
aside h2{
   
   padding: 10px;
   grid-row: 1/2;
   font-size: 120%;
   text-align: center;
}
nav{
    display: flex;
    flex: 1 1 10%;
    flex-flow: row-reverse;
    width: 100%;
}
nav a{ 
    font-size: .85em;
}

.note_taker{
    grid-column: 2/3;
    grid-row: 1/2;
}
textarea{
    width: 96%;
    margin: 10px;
    border: lightblue solid 3px;
}

.newnote-darktheme{
    display: flex;
    width: 100%;
    padding: 10px 10px;
    width: 98%;
    ;
}
.darktheme{
    margin-left: auto;
    padding: 10px 4px;
    border-radius: 10px;
    border-color: #6F6A87;
    background-color: #6F6A87;
    border-style: solid;
}
.save-cancel{
    display: flex;
    justify-content: flex-end;
}
footer{
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/3;

}
.new_note_button{
border-color: #5394A0;
background-color: #5394A0;
}
.docs_link{
    padding: 0px 10px;
}
.save_button{

    border-color: #5394A0;
    background-color: #5394A0;
    margin: 5px;
}
.cancel_button{
    border-color: #D9827C;
    background-color: #D9827C;
    margin: 5px;
    
}
button{
    padding: 10px 5px;
    border-radius: 10px;
    border-style: solid;
    color: #F9F3EC;
}
.bodyDarkTheme{
    background-color: #3f3528;
    color: #a6caf3;
}
.asideDarkTheme{
    background-color: #584c3c;

}
.textAreaDarkTheme{
    background-color: rgb(89, 89, 89);
    color: white;
}
.darkthemeDarkTheme{
    border-color: #2d2942;
    background-color: #2d2942;
}
.newnotebuttonDarkTheme{
    border-color: #10414a;
    background-color: #10414a;
}
.savebuttonDarkTheme{
    border-color: #18525c;
    background-color: #18525c;
}
.cancelbuttonDarkTheme{
    border-color: #652824;
    background-color: #652824;
}
.atagsDarkTheme{
    color: rgb(144, 229, 238);
}
.atagsDarkTheme:visited{
    color: lightgreen;
}
@media screen and (max-width: 500px) {
    body{
        grid-template-columns: 100%;
        grid-template-rows: 3fr 1fr 1fr;
        grid-auto-rows: 100px;
        height: 100%;
    }
    aside{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60px;
        grid-auto-rows: 30px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    .note_taker{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    footer{
        grid-row: 3/4;
        grid-column: 1/2;
    }

}