body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #f8e2c9;
    margin: 0;  
}
aside{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 50px;
    background-color: #F9F3EC;
    height: 100rem;
}
.note_list{
    display: grid;
    grid-template-rows: 20px;
    grid-auto-rows: 20px;
    padding: 20px;
}
.note{
text-align: left;
}
h1{
    text-align: center;
}
aside h2{
   
   padding: 20px;
   grid-row: 1/2;
   font-size: 120%;
}
nav{
    display: flex;
    flex: 1 1 10%;
    flex-flow: row-reverse;
    width: 100%;
}
nav a{
    padding: 10px;
}

.note_taker{
    grid-column: 2/3;
}
textarea{
    width: 98%;
    margin: 10px;
}

.newnote-darktheme{
    display: flex;
    width: 100%;
    padding: 10px 10px;
    width: 98%;
    ;
}
.darktheme{
    margin-left: auto;
}
.save-cancel{
    display: flex;
    justify-content: flex-end;
}
footer{
    text-align: center;
}
.new_note_button{

}
.docs_link{
    padding: 10px 0;
}